<html>
  <head>
    <meta charset="utf-8">
    <title>GTWlabs IIoT DEMO</title>
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
	  <div id="reactbody">
	  </div>

	  <script src="/js/bundle.js"></script>
  </body>
</html>
